.cert-alert-wrapper {
  margin-top: 12px !important;
}
.search-wrapper {
  margin-bottom: 10px;

  .info-tip {
    margin-left: 10px;
    color: #8d9199;
  }
}

.modal-content {
  padding-top: 16px;
}
