.lowcode-header {
  width: 100%;
  height: 56px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 #33333314;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-setting {
    cursor: pointer;
    display: flex;
    align-items: center;

    &-name {
      margin-right: 10px;
    }
  }

  &-icon-back {
    width: 14px;
    margin-right: 10px;
  }
}
