@import "~portal-base/common/utils/style/index.less";

@radio-vertical-width: 140px;
@radio-font-size: 14px;
@radio-text-margin-left: 5px;
@radio-text-margin-right: 10px;

@radio-tip-background-color: #faebeb;
@radio-tip-color: #e55c5c;

@radio-info-height: 40px;
@radio-icon-info-height: 40px;
@radio-icon-size: 26px;

@price-actual-color: #f0a818;

.comp-cert-apply {
  width: 100%;
  height: 100%;
  .apply-content-wrapper {
    h3 {
      font-weight: 400;
    }

    form .ant-row {
      .ant-form-item-label {
        text-align: left;
      }
      .explain-text {
        color: #8d9199;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 12px;
      }
      .ant-radio-group {
        display: flex;
        flex-direction: row;
        + p {
          margin-top: 12px;
          font-size: 12px;
          line-height: 1.5;
          color: #8d9199;
        }
        .domain-type-tip {
          margin-left: 8px;
        }
        .radio-tip {
          display: inline-block;
          background-color: @radio-tip-background-color;
          color: @radio-tip-color;
          border-radius: 3px;
          font-size: 12px;
          line-height: (@radio-info-height / 2) + 2;
          height: (@radio-info-height / 2);
          padding: 0px 8px;
        }

        .cert-info-tip {
          position: absolute;
          padding: 2px;
          width: 100%;
          transform: rotate(45deg);
          text-align: center;
          font-size: 9px;
          line-height: 10px;
          left: 45px;
          top: 15px;
          color: @icecream-color-grey-1;
          background-color: #FF7700;
        }
      }
      .ant-radio-group.brand-group {
        height: auto;
        .adv-radio .radio-info {
          
          height: @radio-icon-info-height;
          line-height: @radio-icon-info-height;
          .radio-icon {
            display: inline-block;
            content: '';
            position: absolute;
            top: (@radio-icon-info-height - @radio-icon-size) / 2 - 2;
            width: @radio-icon-size;
            height: @radio-icon-size;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .radio-icon.brand-DigiCert {
            background-image: url(./icons/DigiCert.png);
          }
          .radio-icon.brand-Geotrust {
            background-image: url(./icons/Geotrust.png);
          }
          .radio-icon.brand-TrustAsia {
            background-image: url(./icons/TrustAsia.png);
          }
        }
      }
      .adv-radio {
        font-size: 14px;
        line-height: 22px;

        &.radio-vertical {
          &:not(:first-of-type) {
            margin-left: 10px;
          }
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          &.ant-radio-button-wrapper {
            border-left: 1px solid;
          }
          &:not(.ant-radio-button-wrapper-checked) {
            border-left: 1px solid rgba(0, 0, 0, 0.25);
          }
         
        }
        >.ant-radio {
          vertical-align: middle;
          .ant-radio-inner {
            width: @radio-font-size;
            height: @radio-font-size;
            margin: 0 auto;
          }
          .ant-radio-inner:after {
            left: (@radio-font-size - 8 - 2) / 2;
            top: (@radio-font-size - 8 - 2) / 2;
          }
          + span {
            font-size: @radio-font-size;
            .radio-info {
              height: @radio-info-height;
              line-height: @radio-info-height;
              position: relative;
              .radio-text {
                display: inline-block;
                margin: 0 @radio-text-margin-right 0 @radio-text-margin-left;
              }
              .radio-icon + .radio-text {
                padding-left: @radio-icon-size + 4;
              }
            }
          }
        }
      }

      .adv-radio.radio-horizontal {
        line-height: inherit;
        height: inherit;
        >.ant-radio + * > span{
          display: inline-block;
        }
      }

      .adv-radio.radio-vertical {
        overflow: hidden;
        width: @radio-vertical-width;
        height: auto;
        text-align: left;
        padding: 8px 10px;
        border-radius: 2px;
        .ant-rate {
          line-height: 20px;
          display: block;
          font-size: 12px;
          .ant-rate-star {
            margin: 0 3px !important;
          }
          .ant-rate-star::before, .ant-rate-star-content::before {
            height: 20px;
            font-size: 12px;
          }
        }
        .radio-remark {
          color: rgba(0, 0, 0, 0.45);
        }
      }
      .domain-number {
        display: inline-block;
        color: #8d9199;
        margin-right: 20px;
      }
      .domain-number:last-of-type {
        margin-right: 0;
      }
      .domain-number + span {
        color: #8d9199;
        font-size: @radio-font-size;
        margin-left: 20px;
      }
    }
    
    .result-info {
      text-align: center;
      font-size: 16px;
      .result-icon {
        @icon-size: 50px;
        width: @icon-size;
        height: @icon-size;
        margin: 140px auto 30px auto;
        font-size: @icon-size;
      }
      .more-info {
        font-size: 14px;
        color: #8d9199;
        margin: 20px auto;
      }
    }
    .warn-info {
      color: #f0a818;
    }
    .success-info,
    .renewed-info,
    .replaced-info {
      color: #67c23a;
    }
    .button-wrap {
      text-align: center;
      margin: 40px 0;
    }
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .action {
    .pull-left {
      float: left;
      line-height: 40px;
    }
    .pull-right {
      float: right
    }
  }
  .error {
    color: #e55c5c;
  }
}

.lightbox-form-wrap {
  padding: 0;
  .ant-form-item {
    margin-bottom: 16px;
  }
  .ant-form-item-control .ant-form-item-label label{
    color: #8d9199;
  }
  .ant-form-item-label {
    text-align: left;
    font-weight: 700;
  }
  .price {
    font-size: @radio-font-size + 8;
    display: inline-block;
    vertical-align: middle;
    color: #FFBD00;
  }
  .discount {
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
    span {
      font-size: @radio-font-size - 1;
      background-color: @radio-tip-background-color;
      color: @radio-tip-color;
      border-radius: 3px;
      display: inline-block;
      line-height: @radio-font-size + 6;
      padding: 1px 4px;
    }
  }
  .footer-right {
    text-align: right;
    padding: 10px;
    .ant-btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.apply-footer-submit-wrapper {
  height: 76px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 76px;
  padding: 0 24px;
  font-size: 16px;

  .price {
    height: 76px;
    margin: 0 4px;
    display: inline-block;
    line-height: 76px;
    vertical-align: middle;
  }
  .price::before {
    width: 70px;
  }
  .price.price-origin, .price.price-sale {
    color: #8d9199;
    font-size: @radio-font-size;
    text-decoration: line-through;
  }
  .price.price-sale {
    font-size: @radio-font-size + 1;
  }
  .price.price-actual {
    color: @price-actual-color;
    font-size: @radio-font-size + 8;
  }
  .ice-message {
    margin-top: 5px;
    z-index: 0;
  }
}

.hidden {
  display: none!important;
}

.split-line {
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  height: 1px;
  border: 0;
}
.split-line.sub-split-line {
  margin-bottom: 20px;
}

.ant-rate-star, .ant-rate-star-content::before {
  font-family: anticon;
}
