@import "~cdn/utils/style/index.less";
@import "~cdn/utils/style/legacy-variable.less";

.comp-overview-faq {
  .faq-list {
    margin: 4px 0;
  }

  .faq-item {
    margin-top: 20px;
  }

  a {
    color: #333;

    &:hover,
    &:active {
      color: @icecream-blue-5;
    }
  }
}
