/**
 * @file Prompt style
 * @description Prompt 组件样式
 * @author yinxulai <me@yinxulai.com>
 */

@import "~kodo/styles/variables.less";

.base {
  box-sizing: border-box;
  margin: 4px 0;
  font-size: @icecream-font-size-1;
  line-height: 20px;
  color: @icecream-grey-6;
}

.normal {
  background-color: #fff;
  // border: 1px solid rgb(231, 235, 240);
}

.assist {
  padding: @page-content-gap-small;
  background-color: #FAFAFA;
}

.warning {
  color: #E28B00;
  // background-color: #FAFAFA;
  // border: 1px solid rgb(236, 222, 196);
}

.error {
  color: rgba(255, 255, 255, 1);
  // background-color: rgb(219, 109, 95);
  // border: 1px solid rgb(197, 59, 41);
}
