.unify-message-path {
  &-front {
    color: #666666;
  }
}
.unify-message-description {
  margin: 30px 0px;

  &-title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-left: 20px;
  }

  &-divider {
    margin: 5px 0;
  }

  &-content {
    font-size: 14px;
    color: #8c8c8c;
  }
}
