@import "~cdn/utils/style/index.less";

.comp-alarm-manage {
  .tabs-width-padding();

  .alarm-content {
    padding: 16px 20px;
  }
}

.comp-alarm-loading {
  padding: 180px 0;
  text-align: center;
}
