/**
 * @file SourceDomain style
 * @description 源站域名管理样式
 * @author yinxulai <me@yinxulai.com>
 */

@import "~kodo/styles/variables.less";


.helpDoc {
  float: right;
  font-size: @icecream-font-size-1;
}

.content {
  //
}

.toolbar {
  margin-bottom: @page-content-gap;
}

.domainTable {
  //
}
