.comp-handle-move {
  display: inline-block;
  cursor: move;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;

  .icon-move {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    fill: #5e6166;
  }
}
