.lowcode-scheme-list {
  &-container {
    padding-bottom: 12px;
    background-color: #F5F5F5;
  }

  padding: 40px 0 38px 38px;

  &-header {
    background-image: url("https://demo-qnrtc-files.qnsdk.com/lowcode/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #213149;
    color: white;
    border-radius: 3px;
    height: 201px;
  }

  &-title {
    font-size: 16px;
  }

  &-desc {
    margin: 8px 0 24px 0;
    width: 449px;

    font-size: 12px;
  }

  &-btns {
    width: 80px;
    height: 30px;
  }



  &-scheme-title {
    font-family: "PingFang SC";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin: 28px 0px 12px 0px;
  }

  &-content {
    width: 100%;


  }
}
