.comp-overview-summary.ant-col {
  border-left: 1px solid #e5e5e5;
  padding: 0 20px;

  &:first-child {
    border-left: none;
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  .summary-title {
    color: #999;
  }

  .summary-value {
    margin-top: 4px;
    font-size: 24px;

    .splited-unit {
      font-size: 12px;
    }
  }

  .summary-trend {
    margin-top: 4px;

    &.trend-up {
      color: #ef4149;
    }

    &.trend-down {
      color: #57c421;
    }
  }

  .trend-svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    vertical-align: middle;
  }

  .trend-value {
    vertical-align: middle;
  }
}
