@import "~cdn/utils/style/index.less";
@import "~cdn/utils/style/legacy-variable.less";

.comp-copy-link-content {
  font-size: @icecream-font-size-sm;
  color: @text-level-4-color;
  user-select: none;
  display: inline-block;
  &:hover {
    color: @primary-color;
  }
}

.comp-copy-icon-content {
  cursor: pointer;
  margin-left: 12px;
}
