@import '~cdn/utils/style/index.less';
@import '~cdn/utils/style/legacy-variable.less';

.statistics-content-wrapper {
  .table-title-wrapper {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    margin-bottom: 10px;
    .title {
      line-height: 40px;
    }

    .table-search-input {
      .ant-input-search {
        width: 300px;
        height: 32px; // icecream 设置的组件大小问题，这里特别处理下
      }
    }
  }

  .chart-tips {
    font-size: @icecream-font-size-sm;
    color: @text-level-4-color;
    padding: 0 2em;
    text-indent: -2em;
    line-height: 1.5;
  }
}
