@import "~cdn/utils/style/index.less";
@import "~cdn/utils/style/legacy-variable.less";

.comp-current-bill-modal {
  .current-bill-content {

    .bill-date {
      margin-top: 0;
      color: @icecream-red-3;
      font-size: @icecream-font-size-1;
    }
    .bill-tip {
      padding: @icecream-gap-md;
      margin-top: @icecream-gap-md;
      font-size: @icecream-font-size-1;
      background-color: @icecream-yellow-4;

      &-title {
        font-weight: 500;
        color: #262626;
        margin-top: 0;
      }

      &-list {
        color: #8C8C8C;
      }
    }
  }
}
