.lowcode-detail {
  &-title {
    font-size: 20px;
    color: #aeaeae;
    margin: 20px 0px;
  }

  &-wrapper {
    display: flex;
    height: 520px;
  }

  &-left {
    width: 595px;
    height: 380px;
    background-color: pink;

    &-top-image {
      width: 595px;
      height: 380px;
    }

    &-small-banner {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;

      img {
        width: 157px;
        height: 108px;
      }

      span {
        color: #aeaeae;
        line-height: 108px;
        font-size: 22px;
      }
    }
  }

  &-right {
    margin-left: 30px;
    width: 45%;

    &-title {
      font-size: 22px;
      font-family: "PingFangSC-Regular", "PingFang SC", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    &-title1 {
      font-size: 18px;
      color: #aeaeae;
      margin: 25px 0;
    }

    &-score {
      font-size: 18px;
      color: #aeaeae;
      &-start {
        color: #ffa843f0;
      }
      span {
        margin-right: 25px;
      }
    }

    &-download {
      font-size: 18px;
      color: #aeaeae;
      margin: 35px 0 35px 0;

      img {
        margin-top: -5px;
        width: 24px;
        height: 21px;
      }

      span {
        margin-left: 30px;
      }
    }

    &-platform {
      font-size: 18px;
      margin-top: 30px;

      &-support {
        color: #aeaeae;
        margin-right: 130px;
      }
    }

    &-create-app {
      width: 92%;
      margin-top: 40px;
      font-size: 18px;
      color: #ffffff;
      height: 42px;
      line-height: 24px;
    }
  }
}
