.complete-wrapper {
  width: 100%;

  .complete-wrapper-item {
    margin-bottom: 20px;
  }

  .complete-wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .cdn-deploy-title {
    display: flex;
    align-items: center;
  }

  .deploy-switch {
    margin-left: 10px;
  }

  .encrypt-radio-group, .auth-method-radio-group {
    .ant-radio-wrapper:last-child {
      margin-right: 4px;
    }
  }

  .cert-info-block {
    .layout-block-content {
      margin-top: 4px;
    }
  }
}

.company-drawer-wrapper {
  .use-only {
    margin-right: 10px;
  }
  .tip-icon {
    margin-left: 8px;
  }
}

.contact-drawer-wrapper {
  .use-only {
    margin-right: 10px;
  }
  .tip-icon {
    margin-left: 8px;
  }
}
