[submodule "packages/qnweb-whiteboard-demo"]
	path = packages/qnweb-whiteboard-demo
	url = https://github.com/Spencer17x/QNWebWhiteBoardSDK.git
[submodule "packages/qnweb-im-demo"]
	path = packages/qnweb-im-demo
	url = https://github.com/Spencer17x/QNWebIMSDK.git
[submodule "packages/qnweb-rtc-ai-demo"]
	path = packages/qnweb-rtc-ai-demo
	url = https://github.com/Spencer17x/QNWebRTCAISDK.git
[submodule "packages/qnweapp-im-demo"]
	path = packages/qnweapp-im-demo
	url = https://github.com/Spencer17x/QNWeappIMSDK.git
[submodule "packages/qnuniapp-im-demo"]
	path = packages/qnuniapp-im-demo
	url = https://github.com/Spencer17x/QNUniappIMSDK.git
