.info-tip {
  .ant-tooltip-inner {
    line-height: 24px;
    max-width: 350px;
  }
}

.info-icon {
  color: #afd4fa;
  margin-left: 10px;

  &.info-icon-domain {
    margin-left: 5px;
    margin-right: 5px;
  }
}
