.comp-tag-selector {
  .empty-tags {
    display: inline-block;
    width: 160px;
    padding: 8px;
    color: #bfbfbf;
    line-height: 1;
  }

  .tag-list-content {
    padding: 0 16px;

    &:focus {
      outline: none;
    }
  }

  .clear-tags {
    border-top: 1px solid #E8E8E8;
    padding-left: 16px;
    &-btn {
      font-size: 12px;
    }
  }
}

.tag-selector-overlay {
  .ant-popover-inner-content {
    padding: 0;
  }
}
