.kodoDomainInfo {
  display: flex;
  .domainName {
    overflow: hidden;
  }
  .gaba {
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    .tooltip {
      align-self: center;
    }
  }
}
