.prime-desc-table {
  width: 100%;

  .info-icon {
    color: #afd4fa;
    margin-left: 10px;
  }

  th, td {
    padding: 12px 0;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
  }

  th {
    color: #2F94FA;
    background-color: #F5F7FA;
    font-weight: normal;
  }

  tr:nth-child(even) {
    background-color: #F5F7FA;
  }

  td {
    color: #595959;
  }

  td:first-child {
    color: #8C8C8C;
  }
}
