.list-wrapper {
	display: grid;
	grid-template-columns: 105px 105px 105px;
	list-style: none;
	margin: 16px;
	grid-gap: 20px;
	.icon-pic {
		width: 85px;
		height: 85px;
	}
	.app-title {
		margin-top: 2px;
		width: 90px;
	}
}
