// FIXME: 以下变量来自 2.x portal-base

// border & split line's colors
@border-level-1-color: #dcdfe5;
@border-level-2-color: #e6e9f0;
@border-level-3-color: #f0f3fa;

@font-size-h5: 18px;
@font-size-h6: 16px;
@font-weight-default: 400;
@font-weight-title: 500;

// text colors
@text-level-1-color: #2f3033; // important text
@text-level-2-color: #5e6166; // major text
@text-level-3-color: #8d9199; // minor text
@text-level-4-color: #bcc1cc; // assistant text
@placeholder-color: @text-level-4-color;
@text-disabled: @text-level-4-color;

@white: #fff;

// situation colors
@primary-color: #1989fa;
@success-color: #67c23a;
@warning-color: #f0a818;
@danger-color: #e55c5c;
@error-color: @danger-color;

@describe-info-bg: #8F9BB4;
@describe-info-color: white;

@background-color-level-2: #f5f7fa;


// 以下变量来自于 icecream1
@icecream-yellow-2: #FFBD00;
@icecream-yellow-3: #FFA400;
@icecream-yellow-4: #FFFBF0;

@icecream-grey-9: #000000;

@icecream-red-3: #EB3B2A;

@icecream-blue-5: #36D2F6;
