/**
 * @file mixins for font style
 * @author zhangheng <zhangheng01@qiniu.com>
 */

@import "~kodo/styles/variables.less";

// TODO: @huangbinjie 优化 card 后删除
.pingfangMedium() {
  font-weight: 500;
  font-size: @icecream-font-size-3;
  letter-spacing: 0;
  line-height: 22px;
  color: @icecream-text-color-weight;
}

.pingfangRegular() {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  color: @icecream-text-color;
}
