.editable-cell {
    position: relative;
    span {
        position: absolute;
        top: 5px;
        right: 0;
        .anticon {
            cursor: pointer;
            &.confirm {
                margin-left: -46px;
                color: #67c23a;
            }
            &.cancel {
                margin: 1px 5px 1px 7px;
                color: #bcc1cc;
                width: 14px;
                height: 14px;
            }
        }
    }
}
