.add-domain-wrapper {
  width: 100%;

  .add-domain-wrapper-item {
    margin-bottom: 20px;
  }

  .add-domain-wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 12px;
  }

  .cert-info-block {
    .info-item-label {
      min-width: 90px;
    }
  }
}
