@import '../../common/style.less';

.https-config-input-wrapper {
  .input-wrapper();

  .https-config-input-content {
    margin-top: 16px;
    padding: 16px;
    background-color: #F5F5F5;
  }
}

.desc {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.5;
  color: gray;
}
