.comp-splited-display {
  display: inline-block;

  .splited-value {
    display: inline-block;
    vertical-align: middle;
  }

  .splited-unit {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-left: 5px;
  }
}
