@import "~cdn/utils/style/legacy-variable.less";

.regions-wrapper {
  line-height: 30px;
  color: @text-level-2-color;
  .regions-row {
    > div {
      display: inline-block;
    }
    .ant-checkbox + span {
      padding: 0 6px;
      color: @text-level-2-color;
    }
  }
}

.areas-wrapper {
  .ant-checkbox + span {
    color: @text-level-2-color;
  }
}

.comp-region-selector {
  width: 240px;

  .region-selector-btn {
    width: 100%;
    padding: 0 16px;
    font-weight: normal;
    color: #595959;
    text-align: left;
  }
}
