.steps {
  margin-bottom: 20px;
  .step {
    & :global(.ant-steps-item-icon) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-top: 0;
    }

    & :global(.ant-steps-item-title) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    & :global(.ant-steps-item-description) {
      font-size: 14px;
      max-width: 300px;
    }
  }
}
