@import "~cdn/utils/style/legacy-variable.less";

.traffic-region-selector-popover {
  .ant-popover-inner-content {
    min-width: 240px;
    padding: 0;
  }

  .ant-checkbox + span {
    padding: 0 6px;
    color: @text-level-2-color;
  }

  .regions-row {
    line-height: 36px;
    padding: 0 25px;
    color: @text-level-2-color;
  }
}

.comp-traffic-region-selector {
  width: 240px;

  .region-selector-btn {
    width: 100%;
    padding: 0 16px;
    font-weight: normal;
    color: #595959;
    text-align: left;
  }
}
