/*
 * @file style for Layout
 * @author nighca <nighca@live.cn>
 */

@import "~portal-base/common/utils/style/index.less";

.main-popup-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  & > div {
    flex: auto;
  }
}

.comp-page-wrapper {
  &.has-footer {
    padding-bottom: 76px;
  }

  .page-header-alert {
    margin-bottom: 20px;
  }

  .comp-page-content {
    overflow: auto;
  }

  .comp-page-footer {
    height: 76px;
    position: fixed;
    z-index: 101;
    left: 0;
    // 距离右侧滚动条的间距
    right: 15px;
    bottom: 0;
    background-color: @icecream-color-grey-1;
  }
}
