@import "react-icecream-2/dist/utils.less";

.extraAction {
  display: block;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 0.4rem 1rem;
  border: 1px solid transparent;
  color: @icecream-primary-color;

  &:hover:not([disabled]) {
    color: #36D2F6;
  }
}
