.wrapper {
	display: flex;
	align-items: center;
	gap: 25px;
}

.blueBar {
	width: 5px;
	height: 25px;
	background-color: #00d2f4;
}

.title {
	font-size: large;
}

.selector {
	width: 200px;
	height: 45px;
	border-radius: 12px;
	font-size: medium;
	font-weight: bold;
}
