.wrapper {
	display: flex;
	align-items: center;
	gap: 25px;
	margin: 10px 0;
}

.blueBar {
	width: 5px;
	height: 25px;
	background-color: #00AAE7;
}

.selector {
	width: 150px;
	height: 35px;
	border-radius: 8px;
	font-size: medium;
	font-weight: bold;
}
