/**
 * @file styles of max age card of bucket setting 文件缓存
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~kodo/styles/variables.less";
@import "../style.m.less"; // TODO: 这么搞不好；其他各处同

.main {
  .content {
    height: 78px; // TODO: 公有云需要重新调整
  }

  .input {
    width: 200px;
  }
}

.cardHeight {
  height: 236px;
}
