@import "~cdn/utils/style/index.less";

.verifyTabPane {
  margin-top: 32px;
}

.verifySteps {
  padding-left: 40px;
}

.failureTitle {
  color: @icecream-color-red-6
}

.verifyDesc {
  margin-top: @icecream-gap-xs;
  margin-bottom: @icecream-gap-lg;
}

.verifyResultDesc {
  margin-top: @icecream-gap-xs;
}
