@import "react-icecream-2/dist/utils.less";

.alert {
  margin-bottom: @icecream-gap-lg;
}

.success {
  color: @icecream-success-color;
}

.failure {
  color: @icecream-error-color;
}

.processing {
  color: @icecream-warning-color;
}

.textArea {
  word-break: break-all;
}

.urlColumn {
  .urlText {
    word-break: break-all;
    margin-right: @icecream-gap-sm;
  }
}
