/**
 * @file BackButton style
 * @description BackButton 组件样式
 * @author yinxulai <me@yinxulai.com>
 */

.link {
  padding-right: 1rem;
  color: inherit;
}

.icon {
  color: inherit;
  padding-right: 4px;
}
