.filterBar {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  .title {
    width: 5rem;
  }
  .inputAppName {
    width: 24rem;
    margin-right: 2rem;
  }
  .inputScenarios {
    width: 24rem;
    margin-right: 3rem;
  }
  .btnSearch {
    margin-right: 0.5rem;
  }
}

.btnCreateApp {
  margin-bottom: 1rem;
}
