// 用于渲染列表-告警规则的内容
.alarm-field-input-wrapper {
  display: flex;
  flex-direction: column;

  .alarm-field-input-desc {
    .alarm-type {
      color: #666666;
    }

    .alarm-field-input-value {
      color: #333333;
      padding-left: 5px;
    }
  }
}
