/**
 * @file 标签管理
 * @author yinxulai <yinxulai@qiniu.com>
 */

@import "~kodo/styles/variables.less";
@import "../style.m.less";

.prompt {
  margin-bottom: @page-content-gap;
}

.drawer :global(.icecream-drawer-footer) {
  :global(.ant-btn:nth-child(2)) {
    display: none;
  }
}

.table table {
  table-layout: fixed;
}

.table td {
  white-space: pre-wrap;
}

.fixInputPadding {
  margin-bottom: 24px;
}
