/**
 * @file styles for CnameToolTip
 * @author linchen gakiclin@gmail.com
 */

.comp-cname-tool-tip {
  white-space: nowrap;

  .tool-tip-icon {
    color: #BFBFBF;
    margin-left: 4px;

    &:hover {
      color: #595959;
      cursor: pointer;
    }
  }
}
