@import "~cdn/utils/style/legacy-variable.less";

.comp-domain-hosting {
  .domain-hosting-header {
    .add-tip {
      margin-left: 12px;
    }
  }

  .domain-hosting-list {
    margin: 16px 0;
  }

  .domain-hosting-operation-tip {
    border-radius: 2px;
    padding: 16px 15px;
    background-color: #E8E8E8;

    &-title {
      margin-top: 0;
      color: #262626;
    }

    &-item {
      color: #8C8C8C;
      font-size: 12px;
      line-height: 22px;
    }

    &-remark {
      margin-bottom: 0;
      color: @icecream-yellow-2;
    }
  }

  .operations-cell {
    .link-btn {
      margin-left: 8px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
