/**
 * @description object picker style
 * @author yinxulai <yinxulai@yinxulai.com>
 */

@import "~react-icecream-2/dist/utils.less";

.radioGroup {
  padding-bottom: @icecream-gap-md-x;
}

.alert {
  margin-bottom: @icecream-gap-md-x;
}

.modalContent {
  min-height: 466px;

  :global(.ant-empty) {
    height: 163px;
  }
}
