@import "../common/style.less";

.domain-cert-input-wrapper {
  .input-wrapper();

  .tip-icon {
    margin-left: 1em;
  }

  .cert-input-tips {
    display: block;
    margin-left: 0;
    margin-top: 8px;
    font-size: 14px;
    color: #999;
  }

  .cert-detail {
    font-size: 14px;

    .line.cert-detail-item {
      color: #999;
    }
  }
}
