@import "~cdn/utils/style/legacy-variable.less";

.domain-inputs-common-Tabs {
  .ant-tabs-bar {
    margin-bottom: 20px;
  }
  .ant-tabs-nav .ant-tabs-tab {
    padding: 0;
    line-height: 22px;
    font-weight: 500;

    &.ant-tabs-tab-active {
      color: @primary-color;
    }

    &.ant-tabs-tab-disabled {
      color: #9ea1a6;
    }
  }
}
