/**
 * @file bucket censor style
 * @description Bucket setting censor style
 * @author yinxulai <me@yinxulai.com>
 */

@import "~kodo/styles/variables.less";

.cloumn {
  padding: @page-content-gap-half;
}

.title {
  font-size: @icecream-font-size-2;
  font-weight: 500;
}

.state {
  margin: 14px 0;
  font-size: @icecream-font-size-2;
  font-weight: 500;
}

.button {
  margin-top: 1rem;
}

.success {
  color: @icecream-success-color;
}

.processingText {
  font-weight: 500;
  color: @icecream-blue-5;
}

.completedText {
  font-weight: 500;
  color: @icecream-grey-6;
}
