.face-result {
  width: 340px;

  .main {
    display: flex;
    margin-bottom: 24px;

    .avatar {
      flex-shrink: 0;
    }

    .context {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-left: 38px;
      flex: 1;

      .title {
        font-weight: 500;
      }

      .video-progress {
        width: 100%;
        height: 12px;
        box-sizing: border-box;
        border: 1px solid #DFDFDF;
        background-color: #F5F5F5;
        position: relative;

        &-item {
          display: inline-block;
          height: 100%;
          background-color: #00AAE7;
          position: absolute;
        }

        &:hover {
          .active {
            opacity: 1;
          }
        }

        > .active {
          display: inline-block;
          opacity: 0;
          width: 12px;
          height: 26px;
          background-color: #fff;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          border: 1px solid #00AAE7;
          box-sizing: border-box;
          transition: all 300ms ease-in-out;
          z-index: 1;
        }
      }
    }
  }

  .table {
    margin-bottom: 32px;
  }

  .people-list {
    .list {
      margin-bottom: 32px;
      display: flex;
      flex-wrap: nowrap;
      overflow-y: scroll;
    }
  }
}
