/**
 * @file style for base options
 * @author yinxulai <yinxulai@qiniu.com>
 */

@import "~react-icecream-2/dist/utils.less";

.nameTip {
  display: block;
  box-sizing: border-box;

  margin: 4px 0;
  color: #8c8c8c;
  line-height: @icecream-line-height;
  font-size: @icecream-font-size-1;
}

.sourceSelect {
  width: 100%;
}

.nameInput {
  width: 100% !important;
}

.nameSuffixSelect {
  flex: 0 0 120px;
}

.outputSelect {
  width: 100%;
}
