@import "~portal-base/common/utils/style/index.less";

@input-number-height: 35px;
@input-number-handler-width: 40px;
@input-number-handler-background-color: #efefef;
@input-number-border-color: #d9d9d9;

.qn-input-number {
  position: relative;
  height: @input-number-height;
  line-height: @input-number-height;
  .qn-input-number-handler-wrap {
    width: 100%;
    height: @input-number-height;
    position: absolute;
    top: 0;
    left: 0;
    .qn-input-number-handler {
      height: @input-number-height - 2;
      width: @input-number-handler-width;
      position: absolute;
      top: 1px;
      z-index: 100;
      text-align: center;
      background-color: @input-number-handler-background-color;
      color: #5e6166;
      font-size: 18px;
    }
    .qn-input-number-handler.disabled {
      cursor: not-allowed;
      color: @icecream-color-grey-7;
    }
    .qn-input-number-handler-up {
      right: 1px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid @input-number-border-color;
    }
    .qn-input-number-handler-up::before {
      content: '\002b';
    }
    .qn-input-number-handler-down {
      left: 1px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: 1px solid @input-number-border-color;
    }
    .qn-input-number-handler-down::before {
      content: '\ff0d';
    }
  }
  .ant-input {
    height: @input-number-height;
    width: 140px;
    text-align: center;
    padding: 0 @input-number-handler-width;
  }
}
