.log-list {
  margin-top: 16px;
  .text-success {
    color: #67c23a;
  }
  .text-warning {
    color: #f0a818;
  }
  .log-icon {
    padding-left: 12px;
  }
  .log-opreate {
    text-align: center;
  }
}
