@import "~cdn/utils/style/index.less";

.comp-statistics-summary-item {
  margin-left: 64px;

  &:first-child {
    margin-left: 0;
  }

  .summary-item-title {
    color: #666;
    line-height: 22px;
  }

  .summary-item-value {
    line-height: 30px;
    margin-top: 2px;
    color: #333;
    font-size: 20px;
  }

  .summary-item-time {
    font-size: 12px;
    color: #999;
    margin-top: 4px;
  }
}
