/**
 * @description style of time input
 * @author duli <duli@qiniu.com>
 */

@import "react-icecream-2/dist/utils.less";

.timeInput {
  margin-top: @icecream-gap-lg;
}

.inputWrapper {
  display: flex;
  margin-top: 4px;

  > * + * {
    margin-left: @icecream-gap-sm;
  }
}
