.comp-log-manage-wrapper {
  overflow: hidden;
  .notes {
    background-color: #F5F5F5;
    padding: 20px;
    margin-bottom: 24px;
    list-style-position: inside;
    list-style-type: decimal;
    p {
      margin: 0;
      line-height: 20px;
    }
    p + p {
      margin-top: 10px;
    }
  }
}
