@import "~cdn/utils/style/legacy-variable.less";

.pwd-confrim-wrapper {
  margin: 50px 0 70px;
  text-align: center;
  .confirm-content {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
    .confirm-icon {
      padding-right: 18px;
      color: @warning-color;
    }
  }
  .pwd-input {
    width: 400px;
  }
  .modal-footer {
    margin-top: 40px;
  }
}
