.download-modal {
  &.ant-modal {
    top: 24px;
  }
  .ant-modal-header {
    .ant-modal-title {
      font-weight: 600;
      color: #2f3033;
    }
  }
  .sub-title {
    text-align: center;
  }
  .download-selected {
    margin-left: 24px;
  }
  .download-tip {
    margin-left: 24px;
  }
  .log-table {
    padding: 24px;
  }
}
