.wrapper {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    .checkIcon {
        display: flex;
        justify-content: center;
    }

    .text {
        color: #8e8e8e;
    }

    .btnBuyResources {
        width: 120px;
    }
}