.wrapper {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .checkIcon {
        display: flex;
        justify-content: center;
    }

    .btnBuyResources {
        width: 120px;
    }
}