@import "../common/style.less";

.domain-geo-cover-input-wrapper {
  .input-wrapper();
  .line-text {
    margin-right: 30px;
  }
  > .geo-cover-warning {
    margin-left: 0;

    .icp-text {
      color: @icecream-yellow-3;
    }

    .icp-desc {
      color: #8C8C8C;
    }
  }
}
