/**
 * @description style of time slice modal
 * @author duli <duli@qiniu.com>
 */

@import 'react-icecream-2/dist/utils.less';

.error {
  color: @icecream-error-color !important;
  font-size: @icecream-font-size-2;
}

.start {
  margin-top: @icecream-gap-lg;
}

.input {
  width: 180px;
}
