@import "~portal-base/common/utils/style/index.less";

.deploy-wrapper {
  .deploy-notice {
    margin-bottom: @icecream-gap-lg;

    .cert-info {
      color: #8C8C8C;
      font-size: @icecream-gap-sm;

      .effect-days {
        color: #FFBD00;
      }
    }
  }

  .action {
    margin-bottom: @icecream-gap-lg;
    .action-desc {
      margin-left: @icecream-gap-sm;
      .domain-number {
        color: #36D2F6;
      }
    }
  }

  .tip-icon {
    margin-left: @icecream-gap-xs;
  }
}
