.basic-result {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .col {
      display: flex;

      .label {
        flex-shrink: 0;
      }

      .value {
        word-break: break-all;
      }
    }
  }
}
