.comp-pre-sale-declare {
  background-color: #f5fcfe;
  color: #333;
  padding: 16px;
  margin-top: 22px;
  margin-bottom: 24px;

  .declare-title {
    font-size: 14px;
    font-weight: 500 !important;
    margin-bottom: 8px;
  }

  p {
    line-height: 28px;
    margin: 0;
    max-width: initial;
  }
}
