.videoDetail {
  overflow: hidden;

  .main {
    display: flex;

    .left {
      flex-shrink: 0;
      max-width: 500px;
      margin-right: 20px;
    }

    .right {
      flex: 1;

      .tab {
        display: flex;

        .tabItem {
          flex-shrink: 0;
          width: 96px;
          text-align: center;
        }
      }

      .result {
        width: 288px;
      }
    }
  }
}
