.image-management-absolution-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-management-card {
  // .image-management-absolution-center;

  text-align: center;
  padding: 20px;

  .image-management-info-icon {
    font-size: 50px;
    color: #fead35;
    border-radius: 50%;
    border: 5px solid #fead35;
    margin-bottom: 20px;
  }

  .image-management-title {
    font-size: 20px;
  }

  .image-management-description {
    color: #7c7c7c;
    margin-bottom: 40px;
    text-align: center;
  }
}

