.absolution-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  .absolution-center;

  text-align: center;
  padding: 20px;

  .info-icon {
    font-size: 50px;
    color: #fead35;
    border-radius: 50%;
    border: 5px solid #fead35;
    margin-bottom: 20px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    color: #7c7c7c;
    margin-bottom: 40px;
    text-align: left;
  }
}
