.container {
  display: flex;
  flex-direction: column;
  .search-list {
    flex: 1;
    background-color: white;
    margin-top: 10px;
    padding-top: 8px;
    strong {
      padding-left: 16px;
      margin-bottom: 10px;
    }
  }
  .empty {
    width: 130px;
    height: 100px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%);
    img {
      width: 130px;
      height: 100px;
    }
    .empty-des {
      color: #757575;
      text-align: center;
    }
  }
}
