/**
 * @file addDomainRecord style
 * @author yinxulai <me@yinxulai.com>
 */

@import "~kodo/styles/variables.less";

.sourceHostFormPrompt {
  display: block;
  font-size: 15px;
  color: @icecream-grey-6;
  margin-bottom: @icecream-gap-md;
}

.modal {
  :global(.ant-modal-confirm-btns) {
    margin-top: 0;
  }
}
