@import "../common/style.less";

.domain-bucket-input-wrapper {
  .input-wrapper();

  .bind-warning {
    margin-top: 8px;
  }

  .warning-wrapper.extra-tip {
    display: block;
    margin-left: 0;
    font-size: 14px;
    color: #999;
    margin-top: 8px;
  }
}
