/**
 * @description style of output tip
 * @author duli <duli@qiniu.com>
 */

@import '~react-icecream-2/dist/utils.less';

.tip {
  word-break: break-all;
}

.outputTip {
  margin-top: @icecream-gap-md / 2;
}

.helpIcon {
  margin-bottom: -(@icecream-gap-xs / 4);
}
