.people-list {
  &-title {
    margin-bottom: 20px;
  }

  &-list {
    &-item {
      display: inline-block;
      cursor: pointer;
      margin-right: 50px;

      &-text {
        text-align: center;
      }

      &-active {
        .people-list-list-item-avatar {
          border: 2px solid #00AAE7;
        }
      }
    }
  }
}
