/**
 * @file styles of original protected of bucket setting 原图保护
 * @author yinxulai <yinxulai@qiniu.com>
 */

@import "react-icecream-2/dist/utils.less";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: @icecream-gap-md-x;

  h4 {
    margin-bottom: 0;
    font-size: @icecream-font-size-4;
  }

  a {
    font-size: @icecream-font-size-3;
  }
}

.form {
  margin-top: @icecream-gap-md-x;
}
