@import "~cdn/utils/style/index.less";

.comp-tags {
  .tag-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    stroke: #595959;
  }

  .tag-icon-empty {
    stroke: #BFBFBF;
  }

  .tags-loading {
    margin-left: 8px;
    color: @icecream-color-grey-7;
  }
}

.edit-tags {

  .create-tag {
    display: flex;
    align-items: flex-start;

    .operations {
      margin-left: 24px;
    }

    .ant-form-item-control {
      line-height: 32px;
    }
  }
}

