@import "../common/style.less";

.comp-multi-inputs {
  .input-wrapper {
    display: inline-block;
    .input-wrapper();
  }
  .link-button {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
  }
}
