.qas-prime-panel-header {
  text-align: left;

  .panel-header-title {
    font-size: 16px;
  }

  .panel-header-collapse {
    padding-left: 10px;
    color: #2F94FA;
  }
}

.qas-prime-collapse-panel {
  padding-bottom: 32px;
}

.qas-prime-collapse {
  .ant-collapse-item {
    &:first-child {
      border-top: 1px solid #dcdfe6;
    }
  }
}