/**
 * @file RegionApply style
 * @description RegionApply 样式
 * @author yinxulai <me@yinxulai.com>
 */

@import "react-icecream-2/dist/utils.less";

.applyRegionModal {
  :global(.icecream-modal-footer) {
    display: none
  }
}

.prompt {
  margin-bottom: @icecream-gap-lg;
}

.radio {
  display: block;
  line-height: 30px;
  height: 30px;
  margin-left: @icecream-gap-lg;
}

.button {
  width: 100%;
  text-align: center;
  padding-bottom: @icecream-gap-lg;
}

.regionName {
  margin-left: @icecream-gap-lg;
}

.userAgreement {
  width: 100%;
  text-align: center;
  margin-bottom: @icecream-gap-lg;
}
