@import "../common/style.less";

.domain-fop-config-input-wrapper {
  .input-wrapper();

  .fop-desc-table {
    width: 100%;
    color: #5e6166;
    border-collapse: collapse;

    th, td {
      padding: 10px 0;
      line-height: 1.42857143;
      vertical-align: middle;
      text-align: left;
    }

    th {
      font-weight: 700;
      border-bottom: 2px solid #e6e9f0;
    }

    td {
      border-bottom: 1px solid #e6e9f0;
    }
  }
}
