.lowcode-modal {
  text-align: center;
  width: 304px;
  height: 400px;
  border-radius: 4px;
  margin: 190px auto;

  .icecream-dialog-body-main-content {
    padding-right: 0;
  }
  .icecream-dialog-body {
    padding: 22px 0 0 0;
  }
  &-content {
    &-avatar {
      width: 87px;
      height: 87px;
      border: 1px solid #07beff;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;

      img {
        width: 85px;
        height: 85px;
      }
    }

    &-desc {
      display: inline-block;
      text-align: center;
      width: 256px;
      line-height: 18px;
      font-size: 12px;
      margin-top: 18px;
    }

    &-qrCode {
      margin: 12px auto 0;
      height: 240px;
      background: #fff;
      border-radius: 4px;
      padding: 12px 20px 0;

      img {
        width: 160px;
        height: 160px;
        margin-bottom: 11px;
      }

      p {
        text-align: center;
        font-size: 12px;
        color: #666;
        margin: 0;
        padding: 0;
      }
    }
  }
}
