.statistics-wrapper {
  .info-tip {
    .ant-tooltip-inner {
      line-height: 24px;
      max-width: 350px;
    }
  }

  .usage-summary-container {
    display: flex;
    padding: 10px 0;
  }

  .usage-summary-wrapper {
    flex: 1;

    &.is-reqcount {
      .usage-summary {
        margin-top: 0;
      }
    }
  }

  .usage-summary {
    margin: 32px 0 2px;
    display: flex;
  }

  .ant-radio-group {
    &.usage-type-radio-group {
      margin-right: 32px;
    }
  }
}
