/**
 * @file 空间授权
 * @author lizhifeng <lizhifeng@qiniu.com>
 */

@import "~kodo/styles/variables.less";
@import "../style.m.less";

.headerPanel {
  margin-bottom: @page-content-gap;
}

.modifyIconBtn {
  margin-left: @page-content-gap-half;
  color: #00A7E1; // TODO: from icecream @huangbinjie
}

.tableWrapper {
  padding: @page-content-gap-small;
  border-radius: @icecream-border-radius-base;
  border: 1px solid @icecream-grey-3;
}
