/**
 * @file styles of delete-bucket 删除空间
 * @author zhangheng <zhangheng01@qiniu.com>
 */

@import "~kodo/styles/variables.less";
@import "../style.m.less";

.main {
  //
}

.modalTitle {
  span {
    margin-left: 10px;
  }

  .warningIcon {
    font-size: @icecream-font-size-3;
    color: #EB3B2A;
  }
}

.warning {
  font-weight: 500;
  color: @icecream-yellow-2;
}

