.lowcode-project-list {
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    padding: 8px 0;

    h1 {
      flex: 0 0 120px;
    }

    &-right {
      display: flex;
      gap: 24px;
    }
  }
}
