.lowcode-project-list {
  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      flex: 1;
    }

    &-right {
      display: flex;
      gap: 24px;
    }
  }
}
