/**
 * @desc 空间 流媒体网关（Stream Media Storage Gateway，SMSG） 设置项样式
 * @author hovenjay <hovenjay@outlook.com>
 */

@import "~kodo/styles/variables.less";

.SMSGSwitch {
  margin: 5px 0 5px 0
}

.queryBtn {
  float: right;
}

.modalContent {
  margin: 18px 0 0 0;
}

.bucketSMSGSetting {
  margin-top: @page-content-gap;
  display: flex;
  align-items: center;
}

.bucketSMSGSwitchLabel {
  min-width: 0;
}

.bucketName {
  color: orange;
}
