/**
 * @file icecream v1 style 
 * @author liaoxiaoyou <liaoxiaoyou@qiniu.com>
 */

@import "~react-icecream/style/index.less";

// 添加 antd button 组件之间的间距
.ant-btn + .ant-btn {
  margin-left: 15px;
}

// TODO: remove me（icecream should have done this）
.ant-tabs-nav .ant-tabs-tab {
  padding: 1em 0;
  margin-right: 3em;
}
.ant-tabs-bar {
  border-bottom-width: 2px;
}
.ant-tabs-nav-container {
  margin-bottom: -2px;
}
.ant-empty-description {
  max-width: initial;
}
.icecream-modal-confirm-btns {
  .ant-btn {
    margin-left: 10px;
  }
}
