@import "~cdn/utils/style/index.less";

.comp-overview-statistics {
  padding: 0;
  .tabs-width-padding();

  .statistics-content {
    padding: 0 20px;
  }

  .summary-cards {
    margin: 16px 0 48px;
  }

  .charts-wrap {
    margin-top: 32px;
  }

  .comp-empty-block {
    padding: 60px 0;

    .empty-svg {
      height: 76px;
    }
  }
}
