@import "../style.less";

.comp-inline-form-with-submit {
  display: flex;
  flex-direction: row;

  .inputs-part {
    flex: 1 1 auto;
  }

  .submit-part {
    flex: 0 0 auto;
    margin-left: @padding;
  }
}
