/**
 * @file NoPermission
 * @author zhangheng <zhangheng01@qiniu.com>
 */

@import "~kodo/styles/variables.less";

.main {
  flex: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: @page-content-gap;

  .title {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
  }
}
