@import 'react-icecream-2/dist/utils.less';

.section {
  width: 100%;

  .title {
    margin-bottom: @icecream-gap-md;
    font-size: @icecream-font-size-title;
  }
  &:last-child {
    border-bottom: 0;
  }
  &:first-child {
    margin-top: 0;
  }
}
