.comp-header {
  display: flex;
  margin-bottom: 0px;
  padding: 40px;
  padding-bottom: 20px;

  &-img {
    width: 70.5px;
    height: 70.5px;
    object-fit: contain;
    margin-right: 49px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      font-family: 'PingFang SC';
      font-style: normal;
      // margin-bottom: 8px;
    }

    &-content {

      color: #666666;
      font-size: 14px;
      line-height: 22px;
    }
  }
}