/**
 * @file global style
 * @author liaoxiaoyou <liaoxiaoyou@qiniu.com>
 */

 @import "~portal-base/common/utils/style/global.less";

p {
  font-size: 14px;
  line-height: 28px;
  max-width: 840px;
  margin: 15px 0;
}
