.lowcode-prompt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../static/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    width: 90%;
    background: #ffffff;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    border-radius: 20px;

    &-title {
      height: 70px;
      line-height: 70px;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      color: #00011f;
      margin-bottom: -20px;
    }

    &-carousel {
      width: 876px;
      height: 416px;
      margin: 0 auto;

      img {
        width: 876px;
        height: 416px;
      }
    }

    &-desc {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: #00011f;
      margin: 35px 0px 20px 0;
    }

    &-btns {
      text-align: center;
      padding-bottom: 36px;

      &-btn {
        width: 340px;
        height: 48px;
        line-height: 48px;
        background: #07beff;
        border-radius: 53px;
      }
    }
  }
}
