@import "~cdn/utils/style/index.less";

.sub-account-wrapper {
  .tag {
    cursor: pointer;
  }

  .status-time {
    color: #bcc1cc;
  }

  .op-item {
    margin: 0 10px;
    display: inline-block;
  }

  .load-more {
    margin-top: @icecream-gap-md;
    text-align: center;
  }
}

.password-reset-wrapper {
  text-align: center;
  margin-top: 20px;
}

.subaccout-creation-wrapper {
  text-align: center;
  margin-top: 20px;

  .creation-form {
    margin-top: @icecream-gap-md;
    padding: @icecream-gap-lg;
  }

  .msg {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .new-subaccount-info {
    margin-top: 30px;
    padding-left: 60px;
    width: 300px;
    display: inline-block;

    .msg-row {
      display: flex;
      justify-content: flex-start;

      .label {
        display: inline-block;
        text-align: right;
        width: 80px;
        padding-right: 20px;
      }

      .content {
        display: inline-block;
        text-align: left;
      }
    }
  }
}
