@import "~portal-base/common/utils/style/index.less";

@sub-form-font-size: 13px;
@sub-form-item-height: 30px;

@price-actual-color: #f0a818;

.comp-cert-confirm {
  width: 100%;
  height: 100%;
  .confirm-content-wrapper {
    padding: 48px 40px 90px;
    h3 {
      font-weight: 400;
    }
    .step-block {
      padding-bottom: 30px;
      @step-index-size: 40px;
      .step-index {
        width: @step-index-size;
        height: @step-index-size;
        border: 1px solid #e6e9f0;
        border-radius: @step-index-size / 2;
        text-align: center;
        line-height: @step-index-size;
        margin: 10px 0;
      }
      .step-name {
        font-size: 16px;
        color: #262626;
        line-height: @step-index-size;
        margin: 20px 0;
      }
      .step-desc {
        color: #8d9199;
        line-height: 24px;
        .step-desc-text {
          margin-bottom: 16px;
        }
      }
    }
    .footer-submit {
      text-align: center;
      .ant-btn {
        width: 120px;
      }
    }
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .action {
    .pull-left {
      float: left;
      line-height: 40px;
    }
    .pull-right {
      float: right
    }
  }
  .error {
    color: #e55c5c;
  }
}

.lightbox-form-wrap.confirmation-lightbox {
  padding: 0 2%;
}

.ant-confirm-content {
  word-wrap: break-word;
  word-break: break-all;
}

.ssl-upload {
  .ant-upload-list, .file-name {
    text-align: left;
    line-height: 22px;
    div {
      position: relative;
      i {
        position: absolute;
        top: 4px;
        right: 0;
      }
      i.done {
        color: #67c23a;
      }
      i.failed {
        color: #e55c5c;
      }
    }
  }
  .upload-btn {
    z-index: 1;
    padding: 0 20px;
    height: @sub-form-item-height + 6;
    line-height: @sub-form-item-height + 6;
    width: 30%;
    cursor: pointer!important;
    
    .upload-input {
      border: 0;
      position: absolute;
      top: 0;
      z-index: 100;
      opacity: 0;
    }
  }
  .help {
    text-align: left;
    margin-top: 10px;
    padding: 16px;
    color: #8C8C8C;
    background-color: @icecream-color-grey-2;
  }
  .upload-notice {
    color: #EB3B2A;
  }
}

.hidden {
  display: none!important;
}

.split-line {
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;
  height: 1px;
  border: 0;
}
.split-line-vertical-after {
  // padding-left: 4.16666667%;
  border-right: 1px solid #e6e9f0;
}
.split-line.sub-split-line {
  margin-bottom: 20px;
}
