.comp-info-block {
  .info-row {
    display: flex;
    flex-wrap: wrap;
  }

  .info-item {
    display: flex;
    flex-wrap: wrap;
    line-height: 22px;
    margin-top: 16px;
    margin-right: 10px;

    &-label {
      color: #999;
      min-width: 70px;
      margin-right: 10px;
    }

    &-content {
      min-width: 128px;
    }
  }
}
