/**
 * @file Bucket Object Lock Setting style
 * @author hovenjay <hovenjay@outlook.com>
 */

@import "~kodo/styles/variables.less";
@import "react-icecream-2/dist/utils.less";

.prompt {
  margin-bottom: @page-content-gap;

  > span {
    color: @icecream-color-orange-6;
  }
}

.formLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}
